<header class="head">
  <div class="container">
    <div class="wrapper">
      <a href="" class="head-logo"
        ><img src="./assets/shape.svg" alt="" width="79" height="40"
      /></a>
      <label for="">
        <input type="text" class="head-input" placeholder="Search" />
        <img src="./assets/search.svg" width="79" height="40" alt="" />
      </label>
    </div>
    <div class="wrap">
      <ul class="head__list">
        <li class="head__list-item"><a href="">Restaurants</a></li>
        <li class="head__list-item"><a href="">Deals</a></li>
        <li class="head__list-item"><a href="">My orders</a></li>
      </ul>
      <ul class="head__shop">
        <li><img src="./assets/added.png" alt="" /></li>
        <li><a href="./settings" routerLink="./settings" routerLinkActive="router-link-active" ><img src="./assets/default.png" alt="" /></a></li>
      </ul>
    </div>
  </div>
</header>
