ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  flex-shrink: 0;
}
button,
a {
  cursor: pointer;
  margin: 0;
  padding: 0;
}
svg {
  display: inline-block;
}
html {
  scroll-behavior: smooth;
}

@mixin tab {
  @media screen and (max-width: 1000px) {
    @content;
  }
}

@mixin tab-min {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin tel-min {
  @media screen and (max-width: 450px) {
    @content;
  }
}

@mixin tel {
  @media screen and (max-width: 376px) {
    @content;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  width: unset;
  height: auto;
}

.head {
  padding: 20px 0;
  .container {
    display: flex;
    justify-content: space-between;
  }

  .wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    .head-logo {
    }
    label {
      position: relative;
      img {
        position: absolute;
        top: 12px;
        right: 12px;
      }
    }
    .head-input {
      border-color: transparent;
      border-radius: 12px;
      background: var(--neutral-gray-lightest, #edeef2);
      padding: 10px 0;
      padding-left: 12px;
      color: var(--neutral-gray, #83859c);
      /* Body 1 - regular 14 (20, 0.1px) */
      font-family: Nunito;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 142.857% */
      letter-spacing: 0.1px;
      ::placeholder {
        color: var(--neutral-gray, #83859c);
        /* Body 1 - regular 14 (20, 0.1px) */
        font-family: Nunito;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        letter-spacing: 0.1px;
      }
    }
  }

  .head__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    .head__list-item {
      a {
        color: var(--neutral-black, #2b2b43);
        text-align: right;

        /* Subtitle 1 - bold 14 (20, 0.1px) */
        font-family: Nunito;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px; /* 142.857% */
        letter-spacing: 0.1px;
      }
    }
  }

  .head__shop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    li {
      img {
      }
    }
  }
}
