<div class="container">
  <div class="wrapper">
    <header class="head">
      <a href="" class="logo"
        ><img src="./assets/shape.svg" width="79" height="40" alt=""
      /></a>
    </header>
    <div class="form-wrapper">
      <h1 class="form-title">Login</h1>
      <p class="form-text">
        Sign in with your data that you entered during your registration.
      </p>
      <form class="form" (ngSubmit)="login()">
        <label class="form-label">
          Email
          <input
            class="form-mail input"
            placeholder="debra.holt@example.com"
            type="text"
          />
        </label>
        <label class="form-label">
          Password
          <input
            type="{{ showPassword ? 'text' : 'password' }}"
            [(ngModel)]="password"
            class="form-pass input"
            placeholder="••••••••"
            [ngModelOptions]="{ standalone: true }"
          />
          <img
            (click)="togglePassword()"
            width="24"
            height="24"
            src="./assets/hideIcon.svg"
            alt=""
          />
        </label>
        <div class="wrapper">
          <label class="form-label checkbox">
            <input type="checkbox" class="form-check" />
            Remember me
          </label>
        </div>
        <button type="submit" (click)="login()" class="form-submit">
          Sign in
        </button>
        <a href="#" class="form-log">
          <span>Forgot password</span>
        </a>
      </form>
      <a href="#" class="form-register"
        >Don’t have an account? <span>Sign up</span></a
      >
    </div>
  </div>

  <section class="img">
    <ul class="img__list">
      <li class="img__list-item">
        <img src="./assets/reviews.png" alt="" width="313" height="436.411" />
      </li>
      <li class="img__list-item">
        <img src="./assets/squared.png" alt="" width="294" height="278.88" />
      </li>
      <li class="img__list-item">
        <img src="./assets/horizontal.png" alt="" width="618" height="132" />
      </li>
    </ul>
    <h2 class="img-title">Leave reviews for all meals</h2>
    <p class="img-text">
      Lorem ipsum dolor sit amet, magna scaevola his ei. Cum te paulo probatus
      molestiae, eirmod assentior eum ne, et omnis antiopam mel.
    </p>
    <div class="img-pag">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="56"
        height="8"
        viewBox="0 0 56 8"
        fill="none"
      >
        <circle opacity="0.3" cx="4" cy="4" r="4" fill="white" />
        <circle cx="20" cy="4" r="4" fill="white" />
        <circle opacity="0.3" cx="36" cy="4" r="4" fill="white" />
        <circle opacity="0.3" cx="52" cy="4" r="4" fill="white" />
      </svg>
    </div>
  </section>
</div>
