<app-header></app-header>
<div class="container">
  <ul class="select__menu">
    <li>
      <a href="">
        <img src="./assets/desert.png" alt="" />
        <div class="wrapper">
          <h2>All deserts</h2>
          <p>20% OFF</p>
          <span>Deserty</span>
        </div>
      </a>
    </li>
    <li>
      <a href="">
        <img src="./assets/burger.png" alt="" />
        <div class="wrapper">
          <h2>Big Burgers</h2>
          <p>50% OFF</p>
          <span>Fooddies</span>
        </div>
      </a>
    </li>
  </ul>
  
</div>
