<app-header></app-header>
<div class="container">
  <ul class="select__menu">
    <li>
      <a href="">
        <img src="./assets/desert.png" width="230" height="230" alt="" />
        <div class="wrapper">
          <h2>All deserts</h2>
          <p>20% OFF</p>
          <span>Deserty</span>
        </div>
      </a>
    </li>
    <li>
      <a href="">
        <img src="./assets/burger.png" width="300" height="300" alt="" />
        <div class="wrapper">
          <h2>Big Burgers</h2>
          <p>50% OFF</p>
          <span>Fooddies</span>
        </div>
      </a>
    </li>
  </ul>
  <ul class="menu-list">
    <li>
      <a href=""
        ><img width="24" height="24" src="./assets/pizza.png" alt=""
      /> <span>Pizza</span></a>
    </li>
    <li>
      <a href=""
        ><img width="24" height="24" src="./assets/burgers.png" alt=""
      /> <span>Burger</span></a>
    </li>
    <li>
      <a href=""
        ><img width="24" height="24" src="./assets/meat.png" alt=""
      /> <span>BBQ</span></a>
    </li>
    <li>
      <a href=""
        ><img width="24" height="24" src="./assets/sushi.png" alt=""
      /> <span>Sushi</span></a>
    </li>
    <li>
      <a href=""
        ><img width="24" height="24" src="./assets/broccoli.png" alt=""
      /> <span>Vegan</span></a>
    </li>
    <li>
      <a href=""
        ><img width="24" height="24" src="./assets/cake.png" alt=""
      /> <span>Desserts</span></a>
    </li>
  </ul>
</div>
